<div class="panel-heading">購物車</div>
<% sum = 0 %>
<% @cis.each do |p| %>
<div class="panel-body">
  <%= get_name(p.product.id) %> x
  <%= p.qty %>個
  <% sum = sum + p.qty %>
  <%= link_to add_to_cart_item_product_path(p.product_id), method: :post, remote: true do  %>
    <span class="btn btn-default btn-xs pull-right glyphicon glyphicon-plus" style="cursor: pointer;"></span>
  <% end %>
  <%= link_to delete_one_carts_path(p.product_id), method: :post, remote: true do  %>
    <span class="btn btn-default btn-xs pull-right glyphicon glyphicon-minus" style="cursor: pointer;"></span>
  <% end %>
</div>
<% end %>
<div class="panel-heading">
  商品數共<%= sum %>個
</div>
<div class="panel-heading">
  外送費<%= shipping_free(sum) %>
</div>
<div class="panel-body">
  <%= link_to('前往結帳', checkout_carts_path, method: "post") %>
  <%= link_to('清空購物車', delete_all_carts_path, method: "post", class: "pull-right", remote: true) %>
</div>