<div class="panel-heading">購物車</div>
<% sum = 0 %>
<% price = 0 %>
<% @cis.each do |p| %>
<div class="panel-body">
  <%= get_name(p.product.id) %> x
  <%= p.qty %>個 單價 <%= p.product.price %>
  <% sum = sum + p.qty %>
  <% price = price + (p.product.price * p.qty) %>
  <%= link_to add_to_cart_item_product_path(p.product_id), method: :post, remote: true do  %>
    <span class="btn btn-default btn-xs pull-right glyphicon glyphicon-plus" style="cursor: pointer;"></span>
  <% end %>
  <%= link_to delete_one_carts_path(p.product_id), method: :post, remote: true do  %>
    <span class="btn btn-default btn-xs pull-right glyphicon glyphicon-minus" style="cursor: pointer;"></span>
  <% end %>
</div>
<% end %>
<div class="panel-heading">
  商品數共<%= sum %>個 
  <span class="pull-right">總和 <%= price %> 元</span>
</div>
<div class="panel-heading">
  <s>外送費<%= shipping_free(sum) %></s><span class="text-danger">（試營運期間不收外送費）</span>
</div>
<div class="panel-body">
  <% if sum < 1 %>
    請選擇餐飲
  <% else %>
    <%= link_to('前往結帳', checkout_carts_path, method: "post") %>
  <% end %>
  <%= link_to('清空購物車', delete_all_carts_path, method: "post", class: "pull-right", remote: true) %>
</div>